// 1. Box sizing 규칙을 설정합니다. (padding, border가 너비에 포함되도록)
*,
*::before,
*::after {
  box-sizing: border-box;
}

// 2. 브라우저 기본 마진과 패딩을 제거합니다.
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

// 3. 리스트 스타일을 제거합니다.
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

// 4. Body의 기본 설정을 잡습니다.
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; // 폰트를 부드럽게 출력
  -moz-osx-font-smoothing: grayscale;
}

// 5. A 태그의 기본 스타일을 초기화합니다.
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

// 6. 이미지 및 미디어 요소의 기본 설정을 잡습니다.
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

// 7. Form 요소들의 폰트 상속 및 기본 스타일을 제거합니다.
input,
button,
textarea,
select {
  font: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

// 8. 버튼에 커서 포인터를 추가합니다.
button {
  cursor: pointer;
}

// 9. 테이블의 빈 공간을 제거합니다.
table {
  border-collapse: collapse;
  border-spacing: 0;
}